.GamerCard {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  width: 300px;
  height: 300px;
  margin: 20px;
  box-shadow: 5px 5px 20px #d73983, -2px -2px 20px  #3a98d9;
  color: rgb(83, 250, 236);
  cursor: pointer;
  transition: 0.25s;
}

.Gamer-shield {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  overflow: hidden;
  transition: 0.25s;
}

.Gamer-photo {
  transition: 0.25s;
}

.Gamer-photo img {
    width: 300px;
    height: auto;

}

.Gamer-description {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 20px;
}
.Gamer-pseudo {
  font-weight: bold;
  font-size: 20px;
}
.Gamer-motto {
  font-size: 16px;
  text-align: center;
}
